
body {

    z-index: 100;
    text-align: center;

    /*  background: rgba(124,199,222,1);
      background: -moz-linear-gradient(top, rgba(124,199,222,1) 0%, rgba(173,222,240,1) 74%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(124,199,222,1)), color-stop(74%, rgba(173,222,240,1)), color-stop(96%, rgba(183,222,237,1)), color-stop(100%, rgba(183,222,237,1)));
      background: -webkit-linear-gradient(top, rgba(124,199,222,1) 0%, rgba(173,222,240,1) 74%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: -o-linear-gradient(top, rgba(124,199,222,1) 0%, rgba(173,222,240,1) 74%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: -ms-linear-gradient(top, rgba(124,199,222,1) 0%, rgba(173,222,240,1) 74%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: linear-gradient(to bottom, rgba(124,199,222,1) 0%, rgba(173,222,240,1) 74%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc7de', endColorstr='#b7deed', GradientType=0 );
   */

    /*  background: rgba(227,193,145,1);
      background: -moz-linear-gradient(top, rgba(227,193,145,1) 0%, rgba(240,191,132,1) 8%, rgba(240,235,228,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,193,145,1)), color-stop(8%, rgba(240,191,132,1)), color-stop(100%, rgba(240,235,228,1)));
      background: -webkit-linear-gradient(top, rgba(227,193,145,1) 0%, rgba(240,191,132,1) 8%, rgba(240,235,228,1) 100%);
      background: -o-linear-gradient(top, rgba(227,193,145,1) 0%, rgba(240,191,132,1) 8%, rgba(240,235,228,1) 100%);
      background: -ms-linear-gradient(top, rgba(227,193,145,1) 0%, rgba(240,191,132,1) 8%, rgba(240,235,228,1) 100%);
      background: linear-gradient(to bottom, rgba(227,193,145,1) 0%, rgba(240,191,132,1) 8%, rgba(240,235,228,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c191', endColorstr='#f0ebe4', GradientType=0 );
*/
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 1%, rgba(201,233,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(0%, rgba(33,180,226,1)), color-stop(1%, rgba(113,206,239,1)), color-stop(100%, rgba(201,233,245,1)));
    background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 1%, rgba(201,233,245,1) 100%);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 1%, rgba(201,233,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 1%, rgba(201,233,245,1) 100%);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 1%, rgba(201,233,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#c9e9f5', GradientType=0 );

}
.row {
    margin: 0 auto;
    text-align: left;
    width: 80%;

}
.login-area {
    /*  background: url("../letter.png") no-repeat;*/
    height: 530px;
    min-width: 370px;
    z-index: 900;

    margin-left: 30%;

    text-align: left;



}
#login-form {
    background: url("../letter.png") no-repeat;
    min-width: 370px;
    margin-left: -10px;

    position: absolute;
}
#login-form ul {
    list-style-type: none;
   margin: 100px 50px;
    position: relative;


    margin:100px 20px\0/;

}

#login-form li {
    padding: 5px;
}
#login-form ul li label {
    display: block;
    margin-bottom: 0;
    color: #613B16;
    margin-left: 3px;
}

#login-form input[type="text"],input[type="password"] {
    width: 230px;
    border: 2px solid #ECC295;
    height: 30px;
    border-radius: 4px;
    padding: 2px 5px;
    background: #FEE1B9;
    color: #613B16;

}
#login-form ul li:first-child {
    color: #613B16;
    font-size: 2em;
    font-weight: 800;
    font-style: oblique;
    /*   text-shadow: 1px 1px 1px #f4a44a;*/
    text-shadow: 0px -1px 0px rgba(0,0,0,1);



}
#login-form input[type="text"]:focus,input[type="password"]:focus {
    border: 2px solid #cea57d;


}


#login-form li:nth-child(4) label {
    display: inline;
    padding: 0px;
    margin-right: 5px;

}
#serviceType label {
    display: inline;

}
#serviceType {
    margin: 5px;
    display: inline;
}
#serviceType select {
    display: inline;
    width: auto;
    height: 25px;
    background: #FEE1B9;
    color: #613B16;
    font-weight: 500;
    border: .13em solid #cea57d;
}

#login-form li button[type="submit"] {
    min-width: 100px;
    padding: 5px;
    background: #cea57d;
    border: 2px solid #c67b2c;
    border-radius: 5px;
    color: #613B16;
    font-weight: bold;
    display: inline-block;

}
#login-form li  button[type="submit"]:hover {
    background: #b6926d;
    border: 2px solid #b6926d;
}

#login-form li:last-child label {
    display: inline-block;
    cursor: pointer;

}
#login-form li input[type="checkbox"] {
    display: inline;
    padding: 2px;
}
#remember{
    /*display: inline;*/
    margin: 5px 0;
    width: 135px;
    padding: 2px;
}
/* IE 7 ONLY */

*+html #remember{
    display: inline;
    margin: 5px 0;
    width: 135px;
    padding: 2px;
}
#login-form li span {
    font-size: .5em;
    margin-left: 100px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.50);
    color: #cd8467;
    font-weight: 800;
    font-style: oblique;
    vertical-align: bottom;
}
#info {
    margin: 0px auto;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
}
#info a {
    margin-left: -10px;
    color: #734718;
    font-weight: 800;
    font-size: 1.1em;
    background: #E7C094;
    padding: 3px 5px;
    border-radius: 10px;


}
#info a:hover {
    color: #482911;
}
.anno {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: #512e15;
    background: #FEE1B9;
    font-weight: bold;
    line-break: strict;
    word-wrap: break-word;
}

#logo {

    max-height: 300px;
    width: 100%;
    max-width: 400px;
    margin-left: 70px ;

    align-content: center;
}
#header {
/*     position: relative;
     text-align: center;
   vertical-align:middle;*/

}
#header img {
    display: block;
    margin: 0 auto;

}
#message {
    padding: 5px;
    word-wrap: break-word;
    line-break: strict;
    position: relative;
    margin-left: 30%;
  /*  margin-top: 0px\0/;*/

    text-align: left;

}
#message p {

    font-weight: bold;
    text-align: center;
    word-wrap: normal;
    padding: 8px;

    position: absolute;

    border-radius: 10px;
}
#main-row {
    margin-bottom: 10px;
}
.panel-footer {
    margin-top: 20px;
    border-top: 2px solid #0073B9;
    min-width: 400px;
    /*
        border-top: 1px solid #603A15;
        background: none repeat scroll 0% 0% #FEF9D6;
        color: #613B16;
       */

    background: #38aeff;
    color: #264c7d;
    font-size: 1.05em;
    font-weight:bold;
    padding: 10px 15px;
    vertical-align: top;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    min-height: 35px;
}
#message-area {

    margin: 25px auto 35px;
}
